.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

#chart {
    height: 500px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .legenditem {
    float: left;
    padding-right: 10px;
  }


  #chart .axis {
    stroke-width: 1;
}

#chart .axis .tick line {
    stroke: black;
}

#chart .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

#chart .axis .domain {
    fill: none;
    stroke: black;
}

#chart .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}
